@import "../../styles/util";

.EventFormContainer {
  width: 80%;
  max-width: 500px;
  margin: 20px auto;
  margin-top: 90px;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 40px;
  box-sizing: border-box;
}

.SendData {
  border: 2px solid $primary-green;
  background-color: $primary-green;
  color: white;
  padding: 4px;
  font-size: 24px;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    background-color: transparent;
    color: $primary-green;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    color: #333;
    background-color: white;
    cursor: not-allowed;
    border-color: gray;
  }
}