.EventFormContainer {
  width: 80%;
  max-width: 500px;
  margin: 20px auto;
  margin-top: 90px;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 40px;
  box-sizing: border-box;
}

.SendData {
  border: 2px solid #02b839;
  background-color: #02b839;
  color: white;
  padding: 4px;
  font-size: 24px;
  border-radius: 4px;
}

.SendData:hover {
  cursor: pointer;
  background-color: transparent;
  color: #02b839;
}

.SendData:focus {
  outline: none;
}

.SendData:disabled {
  color: #333;
  background-color: #ccc;
  cursor: not-allowed;
  border-color: gray;
}