@import '../styles/_util.scss';

.ClubPostContainer {
  width: 80%;
  margin: 90px auto 20px auto;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: $primary-green;
  }

  a:hover {
    text-decoration: underline;
  }
}

.BannerImage {
  float: left;
  margin-right: 1.45rem;
}

.OuterPersonContainer {
  display: inline-block;
}

.PersonContainer {
  display: flex;
}

.AvatarContainer {
  position: relative;
  display: inline-block;
}

.AvatarImage {
  border-radius: 6%;
  margin: 0;
  height: 100%;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.AvatarDetails {
  border-left: 1px solid black;
  padding: 16px;
  height: 80%;
  margin: auto 20px;

  svg {
    margin: 0 12px;
  }
}

.Name {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0 0 1.45rem 12px;
}

.Content {
  text-align: justify;
}

@media(max-width: 800px) {
  .PersonContainer {
    flex-direction: column;
  }

  .AvatarDetails {
    padding: 0;
    border: none;
    margin: 20px 0;
  }
}

@media(max-width: 700px) {
  .BannerImage {
    float: none;
  }
}