.HeroContainer {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 100vh;
  justify-content: center;
  position: relative;
  overflow: hidden;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
}

.HeroContainer::before {
  animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  background: url("../../images/logo-header.jpg") no-repeat bottom;
  background-size: cover;
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.HeroContainer::after {
  animation: rotate-up 0.5s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  content: "";
}

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes rotate-up {
  100% {
    transform: rotateZ(-4deg);
  }
}


.Logo {
  margin: 0;
  height: 6vw;
  width: 6vw;
  display: inline-block;
}

.ContentContainer {
  font-size: 6vw;
}

.LogoContainer {
  font-weight: bold;
}

.ButtonDown {
  border: none;
  background-color: transparent;
  animation-duration: 1s;
  animation-name: buttonIconMove;
  animation-iteration-count: infinite;
}

.ButtonDown:hover {
  cursor: pointer;
}

.ButtonDown:focus {
  outline: none;
}

@keyframes buttonIconMove {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* @media (max-width: 800px) {
  .HeroContainer::before {
    background: url("../../images/logo-header-mobile.jpg") no-repeat bottom;
  }
} */