.HeroContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  text-align: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 100px;
          perspective: 100px;
}

.HeroContainer::before {
  -webkit-animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
          animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  background: url("../../images/logo-header.jpg") no-repeat bottom;
  background-size: cover;
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.HeroContainer::after {
  -webkit-animation: rotate-up 0.5s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
          animation: rotate-up 0.5s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  content: "";
}

@-webkit-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-4rem) scale(0.8);
            transform: translateY(-4rem) scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-4rem) scale(0.8);
            transform: translateY(-4rem) scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes rotate-up {
  100% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
}

@keyframes rotate-up {
  100% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
}

.Logo {
  margin: 0;
  height: 6vw;
  width: 6vw;
  display: inline-block;
}

.ContentContainer {
  font-size: 6vw;
}

.LogoContainer {
  font-weight: bold;
}

.ButtonDown {
  border: none;
  background-color: transparent;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: buttonIconMove;
          animation-name: buttonIconMove;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.ButtonDown:hover {
  cursor: pointer;
}

.ButtonDown:focus {
  outline: none;
}

@-webkit-keyframes buttonIconMove {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
