.Toolbar {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.NavContainer {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
}

.Logo {
  height: 80%;
  display: inline-block;
}

.Title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 26px;
  line-height: 0;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

@media (max-width: 1049px) {
  .DesktopOnly, .Title {
    display: none;
  }

  .Toolbar {
    display: block;
  }

  .Toolbar a {
    font-size: 16px;
  }
}
