.body-content {
  margin-top: 56px;
  padding-bottom: 65px;
  height: 100%;
  min-height: 100%;
}

.outer-container {
  position: relative;
  min-height: 100%
}

html, body  {
  height: 100vh;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  > div {
    height: 100%;
    > div {
      height: 100%;
    }
  }
}

@media(min-width: 1050px) {
  .body-content {
    margin-top: 71px;
  }
}
