.Link {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  display: block;
  height: 100%;
  padding: 12px;
}

.ActiveLink {
  color: #02b839;
}

@media(min-width: 900px) {
  .ActiveLink {
    border-bottom: 2px solid #02b839;
  }

  .Link {
    padding: 20px 12px;
  }
}
