@import "../../../../styles/util";

.Link {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  display: block;
  height: 100%;
  padding: 12px;
}

.ActiveLink {
  color: white;
  border-radius: 6px;
  font-weight: bold;
  background: $primary-green;
}

@media (min-width: 1050px) {
  .Link {
    color: black;
    padding: 20px 12px;
    background: inherit;
    border-radius: 0px;
  }
  .ActiveLink {
    border-bottom: 2px solid $secondary-green;
    color: $secondary-green;
  }
}
