@import '../../../styles/util';

.SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  background-color: white;
  top: 56px;
  z-index: 200;
  padding: 32px 16px;
  transition: transform 0.3s ease-out;
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

@media(min-width: $mobileWidth) {
  .SideDrawer {
    display: none;
  }
}

