@import '../../styles/util';

.FooterContainer {
  width: 100%;
  background-color: $primary-green;
  text-align: center;
  height: 65px;

  a {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 16px;
  }
}