.Container {
  display: inline-block;
  margin: 0 12px;
}

.Datepicker {
  padding: 8px;
  margin: 5px 0;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 18px;

  &:focus {
    outline: none;
  }
}

@media(max-width: 700px) {
  .Container {
    display: block;
    margin: 0;
  }
}