.EventContainer {
  position: relative;
  width: 80%;
  margin: 40px auto;
  text-align: justify;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.EventContainer h3,
.EventContainer h5 {
  display: inline-block;
}

.EventLink {
  text-decoration: none;
}

.EventLink h3 {
  color: #02b839;
}

.EventDate {
  position: absolute;
  color: #999;
  top: 0;
  right: 0;
}