@import '../../../styles/util';

.EventContainer {
  position: relative;
  margin: 10px auto;
  text-align: justify;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding: 16px 0;

  h3, h5 {
    display: inline-block;
  }
}

.EventLink {
  text-decoration: none;


  h3 {
    color: $primary-green;

    &:hover {
      text-decoration: underline;
    }
  }
}

.EventDate {
  position: absolute;
  color: #999;
  top: 0;
  right: 0;
}

.TimeContainer {
  margin: 0;
}
